<!--**********************************
            Footer start
            ***********************************-->
<div>
  <!-- Barra inferior solo para mobile -->
  <nav class="navbar fixed-bottom bg-dark border-top d-flex justify-content-around d-md-none shadow-lg"
    style="height: 50px;">
    <a href="/cotizaciones/create" class="text-center text-light">
      <i i class="bi bi-calculator" style="font-size: 1.4em;"></i><br><small>Cotiza</small>
    </a>
    <a href="/productos/create" class="text-center text-light">
      <i class="bi bi-box-seam" style="font-size: 1.4em;"></i><br><small>Productos</small>
    </a>
    <a href="/clientes/create" class="text-center text-light">
      <i class="bi bi-briefcase-fill" style="font-size: 1.4em;"></i><br><small>Clientes</small>
    </a>
    <a href="#" class="text-center text-light">
      <i class="bi bi-person-fill" style="font-size: 1.4em;"></i><br><small>Perfil</small>
    </a>
  </nav>
</div>



<div class="footer">

  <div class="copyright">
    <p>Copyright © Designed &amp; Developed by <a href="https://dexignzone.com/" target="_blank">RRRdimensions</a> 2025
    </p>
  </div>
</div>
<!--**********************************
                Footer end
    ***********************************-->