<!-- Menú Lateral -->
<nav class="vertical-menu">
  <ul>
    <li><a href="/Cotizador">Cotizador</a></li>
    <li><a href="/Pensiones">Pensiones</a></li>
    <li><a href="/Reservas">Reservas</a></li>
  </ul>
</nav>

<!--**********************************
            Sidebar start
***********************************-->
<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-025-dashboard"></i>
          <span class="nav-text">Menu App</span>
        </a>
        <ul aria-expanded="false">
          <li><a class="has-arrow" href="javascript:void()" aria-expanded="true">Configura</a>
            <ul aria-expanded="false">
              <li><a href="/cotizador/parametros">Parametros</a></li>
              <li><a href="/cotizador/tasas">Tasas</a></li>
              <li><a href="/cotizador/valores">Valores</a></li>
              <li><a href="/cotizador/cfmatriz">Filtros</a></li>
            </ul>
          </li>
          <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Cotizador</a>
            <ul aria-expanded="false">
              <li><a href="/cotizador/estudiolista">Cotización rapida</a></li>
              <li><a href="/cotizador/carga">Proceso de Carga Meler</a></li>
              <li><a href="/cotizador/descarga">Generar Archivos</a></li>
              <li><a href="/cotizador/resultado">Recepción Respuesta</a></li>
            </ul>
          </li>
          <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Pensiones</a>
            <ul aria-expanded="false">
              <li><a href="/emision/prepolizas">Proceso de Emisión</a></li>
              <li><a href="/emision/prcantecedenteafp/1">Antecedentes</a></li>
              <li><a href="/emision/prcemision/1">Emision</a></li>
              <li><a href="#">Consulta General</a></li>
            </ul>
          </li>
          <li><a href="/Reservas">Reservas</a></li>
        </ul>
      </li>
    </ul>
    <div class="copyright">
      <p><strong>RRVV Version 1.0</strong> © 2025 All Rights Reserved</p>
      <p class="fs-12">Cotización<span class="heart"></span> por eGalera Designer</p>

    </div>
  </div>
</div>
<!--**********************************
        Sidebar end
***********************************-->