<div class="container mt-5" style="max-width: 400px;">
  <h4 class="mb-3 text-center">Inicio de sesión</h4>
  <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <form method="POST" action="/auth/login">
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" class="form-control" name="usuario" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Entrar</button>
  </form>
</div>