<main class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="h4 mb-4 text-primary fw-bold">
                📂 Carga Respuestas MELER → Aceptación de solicitudes
            </h1>
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    Subir archivo XML
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="file" id="xmlFile" accept=".xml" class="form-control">
                        <button type="button" class="btn btn-sm btn-primary mb-3" id="btnFetch">Procesar</button>
                    </div>
                    <div class="input-group mb-3">
                        <textarea id="xmlMinificado" rows="2" class="form-control font-monospace bg-light"
                            placeholder="Aquí aparecerá el XML minificado..."></textarea>

                    </div>
                    <div class="input-group mb-3">
                        <select id="codigoSelect" class="default-select form-control border-s-2 wide">
                            <option selected>Eliga la busqueda...</option>
                            <option value="1">Todos</option>
                            <option value="2">Ganadas otras Compañias</option>
                            <option value="3">Ganadas Compañia</option>
                        </select>
                        <button id="btnBuscar" class="btn btn-sm btn-primary mb-3" type="button">Buscar</button>
                    </div>
                    <div id="numArchivo"></div>
                    <h1>Resultados del XML</h1>
                    <div id="tablaResultados"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInfoLabel">Registro de fecha de Aceptación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="modalForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">CUSPP</label>
                                <input type="text" id="modalCU" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Operación</label>
                                <input type="text" id="modalOP" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Modalidad</label>
                                <input type="text" id="modalMO" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Moneda</label>
                                <input type="text" id="modalMN" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">Años Temporal</label>
                                <input type="text" id="modalPd" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Periodo Garantizado</label>
                                <input type="text" id="modalPg" class="form-control" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Pension</label>
                                <input type="text" id="modalPE" class="form-control" readonly>
                            </div>

                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary w-100" id="btnValidar">Validar</button>
                        <div id="msgError" class="mt-2"></div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Fecha Aceptación</label>
                        <input type="date" id="modalFecha" class="form-control">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="btnGuardarModal" disabled>Guardar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/respuesta.js"></script>